body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 30px;
  text-decoration: underline;
}

.expense-container {
  margin-top: 20px;
  background: #95a3b5;
  color: black;
  padding: 25px;
  border-radius: 10px;
  width: 55%;
}

.balance-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

#expense-name,
#expense-amount,
#date {
  height: 20px;
  padding: 5px;
  margin-left: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-button {
  height: 30px;
  width: 100px;
  padding: 5px;
  margin-left: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: rgb(24, 83, 166);
  cursor: pointer;
}
#add-button:hover {
  opacity: 0.8;
}
